---
import researchIcon from "../assets/services/research.svg";
import wireIcon from "../assets/services/wire.svg";
import uiIcon from "../assets/services/ui.svg";
import protoIcon from "../assets/services/proto.svg";

import svgPinkStar from "../assets/pink-star.svg";

const stats = [
  { name: `projects`, value: "50+" },
  { name: `Client ROI`, value: "120%" },
  { name: `Experience`, value: "6 years" },
];

const services = [
  {
    name: `User Research`,
    desc: `Services we’re providing that derive 99% result`,
    icon: researchIcon,
  },
  {
    name: `Wireframing`,
    desc: `Services we’re providing that derive 99% result`,
    icon: wireIcon,
  },
  {
    name: `UI Designing`,
    desc: `Services we’re providing that derive 99% result`,
    icon: uiIcon,
  },
  {
    name: `Prototyping`,
    desc: `Services we’re providing that derive 99% result`,
    icon: protoIcon,
  },
];
---

<section class="relative px-3 md:px-10 overflow-hidden">
  <img
    src={svgPinkStar.src}
    alt="svg"
    width="80"
    class="absolute -right-8 bottom-0"
  />

  

</section>
